.wl--tb-frame {
    width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border: var(--wl--tb-border-width) solid var(--wl--tb-border-color);
        z-index: 3000;
        pointer-events: none;
        border-radius: 4px;
    }

    .wl--tb-wrapper {
        width: 100%;
        overflow-x: auto;
        overscroll-behavior: chain;
        border-radius: 4px;

        /* hiding scrollbar */
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and old Edge */
        &::-webkit-scrollbar {
            /* For Chrome, Safari, and Opera */
            display: none;
        }

        &.wl--expand {
            > table {
                height: 100%;

                > tbody > tr.wl--expansion-row > td {
                    height: auto !important;
                    padding: 0 !important;
                    border-block-start: none !important;
                    position: relative;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        border-block-start: var(--wl--tb-border-width) solid
                            var(--wl--tb-border-color);
                    }
                }
            }
        }

        > table {
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 0;
            width: max-content;

            @media print {
                & {
                    width: 100% !important;
                    > colgroup > col {
                        width: calc(
                            calc(var(--col-width) / var(--total-col-widths)) * 100%
                        ) !important;
                    }
                }
            }

            > colgroup {
                > col {
                    width: calc(var(--col-width) * 1px);
                }
            }

            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        border-inline-end: var(--wl--tb-border-width) solid
                            var(--wl--tb-border-color);

                        &.wl--visually-first-col {
                            border-inline-start: var(--wl--tb-border-width) solid
                                var(--wl--tb-border-color);
                        }

                        &.wl--hidden {
                            display: none;
                        }
                    }
                }
            }

            > thead {
                position: sticky;
                top: 0;
                z-index: 1000;
                anchor-name: --tb-thead-anchor;

                > tr:first-child > th {
                    border-block-start: var(--wl--tb-border-width) solid var(--wl--tb-border-color);
                }

                > tr > th {
                    border-block-end: var(--wl--tb-border-width) solid var(--wl--tb-border-color);
                    anchor-scope: --th-anchor;
                    anchor-name: --th-anchor;
                    color: var(--wl--tb-head-color);
                    font: var(--wl--tb-head-font);
                    height: var(--wl--tb-head-height);
                    background-color: var(--wl--tb-head-bg-color);

                    &:hover,
                    &:focus,
                    &:active,
                    &:focus-within {
                        > .wl--th-content > .wl--more {
                            opacity: 1;
                        }
                    }

                    > .wl--th-content {
                        display: flex;
                        align-items: center;
                        padding-inline: var(--wl--tb-head-height-1\/4);
                        column-gap: var(--wl--s1\/2);

                        > .wl--th-label {
                            text-transform: capitalize;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        > .wl--icon {
                            --wl--icon-weight: 1.25;
                            --wl--icon-color: var(--wl--tb-head-color);
                            height: 1.25rem;
                        }

                        > .wl--more {
                            margin-inline-start: auto;
                            cursor: pointer;
                            padding: 0;
                            background: none;
                            border: none;
                            display: none;
                            line-height: 0;
                            border-radius: 4px;
                            padding-block: 0.0625rem;
                            opacity: 0.4;
                            transition:
                                opacity 0.1s ease-out;

                            @media not print {
                                display: block;
                            }

                            &:hover {
                                background-color: color-mix(
                                    in srgb,
                                    var(--wl--tb-head-bg-color),
                                    black 7%
                                );
                            }

                            > .wl--icon {
                                --wl--icon-weight: 1.25;
                                --wl--icon-color: var(--wl--tb-head-color);
                                height: 1.25rem;
                            }
                        }
                    }

                    > .wl--th-resizer {
                        position: absolute;
                        z-index: 4000;
                        top: anchor(--th-anchor top);
                        bottom: anchor(--th-anchor bottom);
                        left: calc(anchor(--th-anchor left) - 5px);
                        background-color: transparent;
                        width: 10px;
                        padding: 0;
                        border: none;
                        outline: 0;
                        border-inline: 4px solid transparent;
                        background-clip: padding-box;
                        cursor: col-resize;
                        transition:
                            top 0.1s ease-out,
                            bottom 0.1s ease-out,
                            background-color 0.1s ease-out;

                        &.wl--active {
                            background-color: color-mix(
                                in srgb,
                                var(--wl--tb-border-color),
                                black 20%
                            );
                            top: 0;
                            bottom: 0;
                        }
                    }

                    &.wl--visually-last-col > .wl--th-resizer {
                        inset-inline-end: calc(anchor(--th-anchor end));
                        width: 5px;
                        border-inline-start: 3px solid transparent;
                        border-inline-end: none;
                    }
                }
            }

            > tbody {
                > tr {
                    &:first-child > td {
                        border-block-start: none;
                    }

                    > td {
                        border-block-start: var(--wl--tb-border-width) solid
                            var(--wl--tb-border-color);
                        color: var(--wl--tb-data-color);
                        font-family: var(--wl--tb-data-font-family);
                        font-size: var(--wl--tb-data-font-size);
                        font-weight: var(--wl--tb-data-font-weight);
                        line-height: var(--wl--tb-data-line-height);
                        height: var(--wl--tb-data-height);
                        vertical-align: middle;
                        text-align: start;
                        padding-inline: var(--wl--tb-data-height-1\/4);
                    }

                    > td:nth-child(1 of :not(.wl--hidden)) {
                        border-inline-start: var(--wl--tb-border-width) solid
                            var(--wl--tb-border-color);
                    }
                }
            }

            > tfoot {
                position: sticky;
                bottom: 0;
                z-index: 1000;
                anchor-name: --tb-tfoot-anchor;
                > tr {
                    &:first-child > td {
                        border-block-start: var(--wl--tb-border-width) solid
                            var(--wl--tb-border-color);
                    }

                    > td {
                        border-block-end: var(--wl--tb-border-width) solid
                            var(--wl--tb-border-color);
                        color: var(--wl--tb-foot-color);
                        font: var(--wl--tb-foot-font);
                        height: var(--wl--tb-foot-height);
                        vertical-align: middle;
                        text-align: start;
                        padding-inline: var(--wl--tb-foot-height-1\/4);
                        background-color: var(--wl--tb-foot-bg-color);
                        text-transform: capitalize;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .wl--tb-thead-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: anchor-size(--tb-thead-anchor height);
        background-color: var(--wl--tb-head-bg-color);
        border-bottom: var(--wl--tb-border-width) solid var(--wl--tb-border-color);
    }

    .wl--tb-tfoot-placeholder {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: anchor-size(--tb-tfoot-anchor height);
        background-color: var(--wl--tb-head-bg-color);
        border-top: var(--wl--tb-border-width) solid var(--wl--tb-border-color);
    }

    &:not(:has(> .wl--tb-wrapper > table > tfoot)) > .wl--tb-tfoot-placeholder {
        display: none;
    }

    .wl--v-scrollbar {
        position: absolute;
        top: anchor-size(--tb-thead-anchor height, 0);
        bottom: anchor-size(--tb-tfoot-anchor height, 0);
        inset-inline-end: 1px;
        width: 0.375rem;
        padding: 0.125rem 0.1rem;
        gap: 0.25rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 5000;
        background-color: rgba(0, 0, 0, 0);
        transition: width 0.05s ease-out;
        display: flex;

        &:hover {
            background-color: #f1f1f1;
            width: 0.7rem;

            > .wl--arrow-up,
            > .wl--arrow-down {
                visibility: visible;
            }
        }

        > button,
        > .wl--thumb-wrapper > button {
            min-width: 0;
            width: 100%;
            border: none;
            padding: 0;
            outline: none;
        }

        > .wl--arrow-up,
        > .wl--arrow-down {
            display: flex; /* this just to fix an issue in Firefox */
            visibility: hidden;
            width: 100%;
            height: 5.3px;

            --wl--icon-color: rgba(125, 125, 125, 0.4);
            &:hover {
                --wl--icon-color: rgba(75, 75, 75, 0.5);
            }

            &:active {
                --wl--icon-color: rgba(75, 75, 75, 0.8);
            }
        }

        > .wl--thumb-wrapper {
            flex-grow: 1;
            padding-inline: 0.025rem;
            width: 100%;
            > .wl--thumb {
                display: block;
                border-radius: 8px;
                height: 20px;
                background-color: rgba(125, 125, 125, 0.4);

                &:hover {
                    background-color: rgba(75, 75, 75, 0.5);
                }

                &:active {
                    background-color: rgba(75, 75, 75, 0.8);
                }
            }
        }
    }

    &:dir(rtl) {
        .wl--h-scrollbar > .wl--thumb-wrapper {
            direction: rtl;
        }
    }

    .wl--h-scrollbar {
        direction: ltr;
        position: absolute;
        bottom: 1px;
        inset-inline: 1px;
        height: 0.375rem;
        padding: 0.1rem 0.125rem;
        gap: 0.25rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 5000;
        background-color: rgba(0, 0, 0, 0);
        transition: height 0.05s ease-out;
        display: flex;

        &:hover {
            background-color: #f1f1f1;
            height: 0.7rem;

            > .wl--arrow-left,
            > .wl--arrow-right {
                visibility: visible !important;
            }
        }

        > button,
        > .wl--thumb-wrapper > button {
            line-height: 0;
            min-width: 0;
            height: 100%;
            border: none;
            padding: 0;
            outline: none;
        }

        > .wl--arrow-left,
        > .wl--arrow-right {
            display: flex; /* this just to fix an issue in Firefox */
            visibility: hidden;
            height: 100%;
            width: 8px;

            --wl--icon-color: rgba(125, 125, 125, 0.4);
            &:hover {
                --wl--icon-color: rgba(75, 75, 75, 0.5);
            }

            &:active {
                --wl--icon-color: rgba(75, 75, 75, 0.8);
            }
        }

        > .wl--thumb-wrapper {
            flex-grow: 1;
            padding-block: 0.025rem;
            height: 100%;
            > .wl--thumb {
                display: block;
                border-radius: 8px;
                width: 20px;
                background-color: rgba(125, 125, 125, 0.4);

                &:hover {
                    background-color: rgba(75, 75, 75, 0.5);
                }

                &:active {
                    background-color: rgba(75, 75, 75, 0.8);
                }
            }
        }
    }
}
