.wl--toaster {
    margin: 0;
    inset: auto;
    top: 0;
    inset-inline-start: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: var(--wl--toaster-row-gap);
    border: none;
    background-color: transparent;

    &:has(*) {
        max-width: calc(var(--wl--s-base) * 87);
        padding: var(--wl--s4);
    }

    .wl--toast {
        padding-block: var(--wl--s2);
        padding-inline: var(--wl--s2) var(--wl--s4);
        border-radius: var(--wl--border-radius);
        display: flex;
        gap: var(--wl--s2);
        align-items: center;
        font-size: var(--wl--toast-fs);
        opacity: 0;
        scale: 0.9;
        transition:
            opacity 0.2s ease-out,
            scale 0.2s ease-out;
        box-shadow:
            rgba(0, 0, 0, 0.1) 0px 0 7px 1px,
            rgba(0, 0, 0, 0.05) 0px 0 3px 1px;
        background: var(--wl--toast-bg);

        &.wl--show {
            opacity: 1;
            scale: 1;
        }

        &.wl--err {
            --wl--icon-color: var(--wl--toast-err-icon-color);
        }

        &.wl--scs {
            --wl--icon-color: var(--wl--toast-scs-icon-color);
        }

        &.wl--warn {
            --wl--icon-color: var(--wl--toast-warn-icon-color);
        }

        &.wl--info {
            --wl--icon-color: var(--wl--toast-info-icon-color);
        }

        > .wl--icon {
            width: var(--wl--toast-icon-size);
            height: var(--wl--toast-icon-size);
        }
    }
}
