@import "./style/000-index.css";
/*
.wl--select {
    position: relative;
    display: flex;
    align-items: center;
    appearance: base-select;
    width: 100%;
    --input-height: var(--wl--field-control-height, 2rem);

    &::picker-icon {
        display: none;
    }

    & .wl--icon {
        pointer-events: none;
        position: absolute;
        width: calc(var(--input-height) * 0.8);
        height: calc(var(--input-height) * 0.8);
        inset-inline-end: var(--height-1\/4);
        rotate: 0deg;
        transition: rotate 0.2s ease-out;
        transform-origin: center;
    }

    &:open .wl--icon {
        rotate: -180deg;
    }

    &::picker(select) {
        border-radius: 4px;
        appearance: base-select;
        opacity: 0;
        transform: scale(0.95);
        transition:
            opacity 0.2s ease,
            transform 0.2s ease-out,
            display 0.2s allow-discrete,
            overlay 0.2s allow-discrete;
    }

    &:open::picker(select) {
        opacity: 1;
        transform: scale(1);
    }

    @starting-style {
        &:open::picker(select) {
            opacity: 0;
            transform: scale(0.95);
        }
    }
} */
